.scrollable-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #e5e7e9;
  padding: 0 5px 5px 5px;
  border-radius: 3px;
}

.data-item {
  border: 1px solid #dedede;
  border-radius: 4px;
  margin-bottom: 2px;
  padding: 3px;
  display: inline-block;
}